# First thursday week of the mentioned month

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [20]:
df_t=pd.DataFrame() # to create empty data frame for week days i.e., thursday
df_b=pd.DataFrame() # to create empty data frame for business days
df_t['T']=pd.bdate_range('2019-01-01', '2019-01-31',freq='W-THU') # to get only week days 3-10-17-24
df_b['B']=pd.bdate_range('2019-01-01', '2019-01-31',freq='B') # to get business dys  from the 03-jan-2019 to 31-jan-2019 3-4-7-8-9
df_b = df_b.set_index(['B']) # setting the index to the business days
start_date=df_t['T'][0] #related to thursdays
start_date=pd.to_datetime(start_date).date() # converting to time format i.e.,hh:mm:sec
end_date=df_t['T'][1] # realted to thursday+1
end_date=pd.to_datetime(end_date).date() # converting to the time format i.e., hh:mm:sec

In [21]:
start_date # the start date of the day is 03-jan-2019

datetime.date(2019, 1, 3)

In [22]:
pwd() # Present working directory

'/home/ubuntu/datascience/banknifty'

In [23]:
df=pd.read_csv('/home/ubuntu/datascience/banknifty/all.csv') # Reading the data from the "all.csv" file

In [24]:
df

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,BANKNIFTY,02-May-2019,09-May-2019,CE,26200,0,0,0,2009.4,0,3542.85,0,0,0,0,0,-
1,BANKNIFTY,02-May-2019,09-May-2019,CE,32100,0,0,0,83.8,0,0.4,0,0,0,0,0,-
2,BANKNIFTY,02-May-2019,09-May-2019,CE,26400,0,0,0,1841.3,0,3343.15,0,0,0,0,0,-
3,BANKNIFTY,02-May-2019,09-May-2019,CE,26500,0,0,0,1759.45,0,3243.25,0,0,0,0,0,-
4,BANKNIFTY,02-May-2019,09-May-2019,CE,26600,0,0,0,1679.1,0,3143.4,0,0,0,0,0,-
5,BANKNIFTY,02-May-2019,09-May-2019,CE,26700,3100,3100,3077.8,3077.8,3077.8,3077.8,2,11.92,1.24,40,40,-
6,BANKNIFTY,02-May-2019,09-May-2019,CE,26800,0,0,0,1523.4,0,2943.65,0,0,0,0,0,-
7,BANKNIFTY,02-May-2019,09-May-2019,CE,26900,0,0,0,1448.2,0,2843.8,0,0,0,0,0,-
8,BANKNIFTY,02-May-2019,09-May-2019,CE,27000,2773,2874.25,2694.2,2694.2,2694.2,2694.2,9,53.68,5.08,120,120,-
9,BANKNIFTY,02-May-2019,09-May-2019,CE,27100,0,0,0,1303.1,0,2644.05,0,0,0,0,0,-
10,BANKNIFTY,02-May-2019,09-May-2019,CE,27200,2599.9,2599.9,2599.9,2599.9,2599.9,2599.9,1,5.96,.52,20,20,-
11,BANKNIFTY,02-May-2019,09-May-2019,CE,27300,2499.9,2499.9,2499.9,2499.9,2499.9,2499.9,1,5.96,.5,20,20,-
12,BANKNIFTY,02-May-2019,09-May-2019,CE,27400,2160.55,2213.25,2160.55,2200.85,2213.2,2200.85,17,100.64,7.48,340,340,-
13,BANKNIFTY,02-May-2019,09-May-2019,CE,27500,2280,2410,2196.7,2230.7,2240,2230.7,148,883.54,69.54,2520,2520,-
14,BANKNIFTY,02-May-2019,09-May-2019,CE,27600,1925,2353,1925,2140.95,2130,2140.95,6,35.69,2.57,0,0,-
15,BANKNIFTY,02-May-2019,09-May-2019,CE,27700,0,0,0,917.95,0,2045.45,0,0,0,0,0,-
16,BANKNIFTY,02-May-2019,09-May-2019,CE,27800,1763.95,1763.95,1763.95,1763.95,1763.95,1763.95,8,47.3,2.82,160,160,-
17,BANKNIFTY,02-May-2019,09-May-2019,CE,27900,1724.5,1724.55,1724.5,1724.5,1724.5,1724.5,26,154.05,8.97,520,520,-
18,BANKNIFTY,02-May-2019,09-May-2019,CE,28000,1770,1920,1671.15,1711.45,1712.75,1711.45,502,2994.25,183.05,9400,9360,-
19,BANKNIFTY,02-May-2019,09-May-2019,CE,28100,0,0,0,704.95,0,1648.9,0,0,0,0,0,-
20,BANKNIFTY,02-May-2019,09-May-2019,CE,28200,1660,1660,1660,1660,1660,1660,1,5.97,.33,20,20,-
21,BANKNIFTY,02-May-2019,09-May-2019,CE,28300,1560,1560,1475,1475,1475,1475,14,83.44,4.2,280,280,-
22,BANKNIFTY,02-May-2019,09-May-2019,CE,28400,1500,1500,1300,1300,1300,1300,7,41.74,1.98,80,80,-
23,BANKNIFTY,02-May-2019,09-May-2019,CE,28500,1250,1423,1209.85,1215.2,1220,1215.2,64,381.19,16.39,1000,980,-
24,BANKNIFTY,02-May-2019,09-May-2019,CE,28600,0,0,0,488.95,0,1166.85,0,0,0,0,0,-
25,BANKNIFTY,02-May-2019,09-May-2019,CE,28700,983.85,983.85,973.8,978.85,973.8,978.85,2,11.87,.39,40,40,-
26,BANKNIFTY,02-May-2019,09-May-2019,CE,28800,1040,1040,842,870.35,949.2,870.35,15,89.06,2.66,240,240,-
27,BANKNIFTY,02-May-2019,09-May-2019,CE,28900,952.25,999.65,803.9,817.45,840.5,817.45,23,137.28,4.34,340,340,-
28,BANKNIFTY,02-May-2019,09-May-2019,CE,29000,770,960,708.85,762.05,760,762.05,288,1716.26,45.86,2920,2440,-
29,BANKNIFTY,02-May-2019,09-May-2019,CE,29100,805,875,644.95,675,684.95,675,116,691.26,16.14,2120,2120,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16382,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,26500,0.4,0.65,0.05,0.05,0.05,0,34650,183647.01,2.01,407040,-136240,27387.15
16383,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,26600,0.8,0.8,0.05,0.05,0.05,0,38218,203322.85,3.09,154580,-104180,27387.15
16384,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,26700,1.65,1.65,0.05,0.1,0.05,0,76875,410522.03,9.53,304660,-117040,27387.15
16385,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,26800,3.45,3.45,0.05,0.05,0.05,0,219674,1177497.13,44.49,552520,15880,27387.15
16386,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,26900,2.7,7.6,0.05,0.1,0.05,0,310802,1672223.01,108.25,431240,87960,27387.15
16387,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27000,5,7.55,0.05,0.1,0.05,0,868546,4690608.17,459.77,1126800,254660,27387.15
16388,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27100,19.65,19.65,0.05,0.1,0.05,0,1014394,5499152.52,1137.04,602820,36960,27387.15
16389,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27200,37.6,38.75,0.05,0.15,0.05,0,1699649,9249716.21,3625.65,957860,345100,27387.15
16390,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27300,63.15,72.9,0.05,0.25,0.05,0,2388285,13049136.19,9100.09,1460080,1010760,27387.15
16391,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27400,109.8,119.55,0.7,3,2,0,3035791,16651207.69,15073.01,554880,298380,27387.15
16392,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27500,158.05,183,12.5,52.5,110,0,1766448,9735566.95,20102.95,38340,-132440,27387.15
16393,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27600,215,271,61.3,146.5,197,0,353491,1960049.1,8778.78,5340,-26940,27387.15
16394,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27700,311.15,365.35,135.15,251.7,300,0,64642,360887.77,2771.09,1060,-16940,27387.15
16395,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27800,398.75,464.35,217.05,366.85,389,0,13780,77495.58,878.78,5260,-3180,27387.15
16396,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,27900,485.2,557.9,309.85,486.05,476.05,0,1800,10205.31,161.31,60,-4440,27387.15
16397,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28000,601.4,661.2,410,573.4,610,0,4961,28323.67,542.07,120,-15560,27387.15
16398,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28100,706.95,742.1,551.35,680.65,690,0,88,505.84,11.28,20,-420,27387.15
16399,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28200,753.75,809.55,618.7,791.2,791,0,13,75.27,1.95,60,20,27387.15
16400,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28300,846.3,914.65,773.05,809.35,773.05,0,9,52.45,1.51,60,0,27387.15
16401,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28400,0,0,0,1655.8,0,0,0,0,0,0,0,27387.15
16402,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28500,1080,1134.95,944.15,1086.4,1070.05,0,370,2185.22,76.22,440,-5740,27387.15
16403,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28600,0,0,0,1616.25,0,0,0,0,0,0,0,27387.15
16404,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28700,0,0,0,1559.85,0,0,0,0,0,0,0,27387.15
16405,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28800,0,0,0,1635.3,0,0,0,0,0,0,0,27387.15
16406,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,28900,0,0,0,1603.15,0,0,0,0,0,0,0,27387.15
16407,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,29000,0,0,0,1552,0,0,0,0,0,0,0,27387.15
16408,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,29100,0,0,0,1525.65,0,0,0,0,0,0,0,27387.15
16409,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,29200,0,0,0,1429.9,0,0,0,0,0,0,0,27387.15
16410,BANKNIFTY,07-Feb-2019,07-Feb-2019,PE,24600,0.05,0.65,0.05,0.1,0.1,0,792,3896.66,.02,5240,1980,27387.15
16411,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
import os
os.chdir('/home/ubuntu/datascience/banknifty')  # changing the directory
df=pd.read_csv('/home/ubuntu/datascience/banknifty/data.csv') # reding the data frames of data.csv
df=df.set_index(['Date']) # setting the index for the column of the date
df.index = pd.to_datetime(df.index) # setting the index for date and time using "to_datetime" module
round_price=df.loc[start_date]['Close'] # choosing the start date and and close and taking the 2 variables in a "round_price" variable

x=np.round(round_price,decimals=-2) # rounding to the decimal value upto 2 places
print(x) # printing the value of x

27000.0

In [27]:
df.index # Getting the datetime index of data frame

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14',
               ...
               '2019-06-10', '2019-06-11', '2019-06-12', '2019-06-13',
               '2019-06-14', '2019-06-17', '2019-06-18', '2019-06-19',
               '2019-06-20', '2019-06-21'],
              dtype='datetime64[ns]', name='Date', length=117, freq=None)

In [28]:
close_list = [x] # Taking the value of x into the variable of "close_list"
addsub = [-400,-300,-200,-100,0,100,200,300,400] # increasing and decreasing the CE values
a=[[i+j for j in addsub]for i in close_list] # By using list comprehension we are creating a variable "a" and writing some conditions usind the file
print(a) # printing the value of "a"

[[26600.0, 26700.0, 26800.0, 26900.0, 27000.0, 27100.0, 27200.0, 27300.0, 27400.0]]

In [29]:
os.chdir('/home/ubuntu/datascience/banknifty') # Changing the directory
df=pd.read_csv('nifty3jan.csv') # related to 1 week data i.e., CE data
# Dropping the unnecessary columns from the csv file
df=df.drop(["Symbol","Option Type","Settle Price","No. of contracts","Turnover in Lacs","Premium Turnover in Lacs","Open Int","Change in OI","Underlying Value"],axis=1)
df.set_index([pd.DatetimeIndex(df['Expiry']),pd.DatetimeIndex(df['Date']),'Strike Price'],inplace=True)

In [30]:
df.head()

                                           Date       Expiry  Open  High  Low  \
Expiry     Date       Strike Price
2019-01-10 2019-01-03 23900         03-Jan-2019  10-Jan-2019   0.0   0.0  0.0
                      29000         03-Jan-2019  10-Jan-2019   2.9   2.9  1.1
                      24100         03-Jan-2019  10-Jan-2019   0.0   0.0  0.0
                      24200         03-Jan-2019  10-Jan-2019   0.0   0.0  0.0
                      24300         03-Jan-2019  10-Jan-2019   0.0   0.0  0.0

                                      Close      LTP
Expiry     Date       Strike Price
2019-01-10 2019-01-03 23900         3287.95  3287.95
                      29000            1.20     1.10
                      24100         2124.80     0.00
                      24200         2051.50     0.00
                      24300         1978.35     0.00

In [33]:
start_date1=start_date+pd.offsets.BDay(1)
start_date1=pd.datetime.date(start_date1)

start_date2=start_date+pd.offsets.BDay(2)
start_date2=pd.datetime.date(start_date2)

start_date3=start_date+pd.offsets.BDay(3)
start_date3=pd.datetime.date(start_date3)

start_date4=start_date+pd.offsets.BDay(4)
start_date4=pd.datetime.date(start_date4)

start_date5=start_date+pd.offsets.BDay(5)
start_date5=pd.datetime.date(start_date5)

In [34]:
start_date5

datetime.date(2019, 1, 10)

In [36]:
n3=df.loc[end_date].loc[start_date].loc[a[0][0]:a[0][-1]]['Close']

In [37]:
n3=df.loc[end_date].loc[start_date].loc[a[0][0]:a[0][-1]]['Close']
n4=df.loc[end_date].loc[start_date1].loc[a[0][0]:a[0][-1]]['Close']
n7=df.loc[end_date].loc[start_date2].loc[a[0][0]:a[0][-1]]['Close']
n8=df.loc[end_date].loc[start_date3].loc[a[0][0]:a[0][-1]]['Close']
n9=df.loc[end_date].loc[start_date4].loc[a[0][0]:a[0][-1]]['Close']
n10=df.loc[end_date].loc[start_date5].loc[a[0][0]:a[0][-1]]['Close']

In [ ]:
for n in range(3,8):
    for

In [18]:
n3

Strike Price
26600    476.20
26700    403.70
26800    338.35
26900    282.45
27000    231.65
27100    187.30
27200    148.20
27300    114.50
27400     86.75
Name: Close, dtype: float64

In [19]:
type(n3)

pandas.core.series.Series

In [17]:
from functools import reduce
dfs = [n3,n4,n7,n8,n9,n10]
df = reduce(lambda a,b: pd.merge(a,b,on='Strike Price'), dfs)
df.columns = [start_date,start_date1,start_date2,start_date3,start_date4,start_date5]
df

,2019-01-03,2019-01-04,2019-01-07,2019-01-08,2019-01-09,2019-01-10
Strike Price,,,,,,
26600,476.20,665.05,696.20,872.90,1044.45,918.45
26700,403.70,566.85,594.60,776.00,935.85,831.95
26800,338.35,491.95,507.05,677.60,845.25,725.15
26900,282.45,414.95,421.00,590.80,747.25,630.55
27000,231.65,342.30,344.15,501.15,650.75,521.35
27100,187.30,280.00,275.75,404.45,553.55,413.35
27200,148.20,221.75,214.40,317.95,458.05,318.70
27300,114.50,171.70,161.95,244.45,360.75,222.40
27400,86.75,128.25,119.50,181.60,275.05,124.15